body
{
    min-width: 320px;
    background-color: #202222;
    color: #c1c1bf;
    font-family: "Bookman", sans-serif;
}

.banner
{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.banner-logo-container
{
    width: fit-content;
    margin: 0 auto;
}

.banner-logo
{
    display: flex;
    position: relative;
}

.banner-logo .logo-letter
{
    font-size: 100px;
    font-family: 'Playfair', sans-serif;
}

.banner-logo .logo-letter.one
{
    clip-path: polygon(0 0, 100% 0, 100% 50%, 40% 100%, 0 100%, 0% 50%);
    height: fit-content;
}

.banner-logo .logo-letter.two
{
    clip-path: polygon(57% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0% 55%);
    margin-top: 47px;
    margin-left: -35px;
}

.banner-logo .logo-symbol
{
    width: 2px;
    height: 140px;
    margin: 0 auto;
    background-color: #c1c1bf;
    transform: rotate(32deg);
    position: absolute;
    top: 36px;
    left: 61px;
}

.section
{
    text-align: center;
    margin-bottom: 100px;
}

.section.list
{
    text-align: left;
}

.section.list .title
{
    margin-bottom: 20px;
}

.section .border-container
{
    max-width: 300px;
    background-color: #4e4e4e;
    height: 0.5px;
    margin: 0 auto;
}

.main-title
{
    font-size: 50px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.marriage-date
{
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
}

.section .title
{
    font-size: 28px;
    text-transform: uppercase;
}

.section .description
{
    font-size: 18px;
    margin-top: 16px;
}

.text-bold
{
    font-size: 24px !important;
    margin-top: 40px !important;
    font-weight: 600;
}

.list-item
{
    border-top: 1px solid #4e4e4e;
    display: flex;
}

.list-item .list-title,
.list-item .list-description
{
    width: 50%;
    padding: 30px 20px 30px 0;
    text-transform: none;
    font-size: 18px;
}

.container-image
{
    text-align: center;
    margin-bottom: 100px;
}

.main-image
{
    width: 900px;
    height: 800px;
    object-fit: contain;
}

.container-map
{
    height: 400px;
    margin-bottom: 100px;
}

.color-gamma
{
    display: flex;
    width: fit-content;
    margin: 30px auto 0;
}

.box-color  
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 20px;
}

.box-color.one
{
    background-color: #C8C9CB;
}

.box-color.two
{
    overflow: hidden;
}

.box-color.three
{
    background-color: #686C6F;
}

.box-color.four
{
    background-color: #000;
}

.footer
{
    margin-top: 60px;
    margin-bottom: 40px;
}

.footer-logo
{
    font-size: 60px;
    letter-spacing: 6px;
    width: fit-content;
    margin: 0 auto;
    border-bottom: 1px solid #c1c1bf;
}

.footer-logo-symbol
{
    font-family: 'Carmen', sans-serif;
}

.footer-date
{
    margin: 10px auto 0;
    width: fit-content;
}

@media (max-width: 991px) {
    .main-image
    {
        width: 680px;
        height: 600px;
    }

    .list-item .list-title, 
    .list-item .list-description
    {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .main-image
    {
        width: 500px;
        height: 500px;
    }

    .banner
    {
        padding-bottom: 20px;
    }

    .main-title
    {
        font-size: 40px;
    }
/* 
    .banner-logo .logo-letter
    {
        font-size: 90px;
    } */

    .banner-logo .logo-symbol
    {
        font-size: 80px;
    }

    .section .description
    {
        font-size: 16px;
    }

    .section .title
    {
        font-size: 24px;
    }

    .box-color
    {
        margin: 0 10px;
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 575px) {
    .main-title
    {
        font-size: 28px;
        margin-top: 10px;
    }

    .main-image
    {
        width: 300px;
    }

    .box-color {
        margin: 0 6px;
        width: 50px;
        height: 50px;
    }

    .main-image
    {
        height: 400px;
    }

    .section,
    .container-map,
    .container-image
    {
        margin-bottom: 70px;
    }    
}